* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Helvetica;
}

#game {
  position: relative;
}

#game .screen-keys {
  display: none;
}

#game .keyboard {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  width: 35px;
  height: 26px;
  line-height: 0;
  text-align: left;
  background: rgba(255,255,255, .3);
}

#game {
  float: left;
  width: 50%;
}

#game img {
  height: 100%;
  width: 100%;
}

#chat {
  float: right;
  width: 50%;
  background: #000;
  color: #fff;
  height: 100%;
}

#chat {
  position: relative;
}

#chat .input {
  background: #9100fb;
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  padding: 15px 20px 20px;
  -webkit-transition: background 100ms ease-in;
}

#chat .input.joined {
  background: #fc0000;
}

#chat .connecting {
  color: #666;
  padding: 20px;
}

#chat .input input {
  color: #fff;
  border: 1px solid #fff;
  border-width: 0 0 1px 0;
  background: transparent;
  display: block;
  font: 20px Helvetica;
  padding-bottom: 10px;
}

#chat .input input:focus {
  outline: 0;
}

.messages {
  overflow-y: auto;
}

.messages p {
  padding: 15px 20px;
  border-bottom: 1px solid #222;
}

.connected {
  display: none;
}

body.ready .connecting {
  display: none;
}

body.ready .connected {
  display: block;
}

body.ready #game {
  outline: 1px;
}

.keyboard {
  display: none;
}

body.joined .keyboard {
  display: block;
}

body.input_focus .keyboard {
  display: none;
}

.keys {
  padding: 20px;
  border-collapse: collapse;
  margin-top: 15px;
}

.keys td {
  border: 1px solid #333;
  padding: 10px;
}

/* Responsive overwrites */
@media screen and (max-width: 500px) {
  #game {
    float: top;
    width: 100%;
    height: 50%;;
  }

  #chat {
    float: bottom;
    width: 100%;
    height: 50%;
  }

  #game .screen-keys {
    cursor: pointer;
    display: block;
    opacity: 0.5;

    color: blue;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #game .screen-keys {
    padding: 20px;
    border-collapse: collapse;
    margin-top: 15px;
  }

  #game .screen-keys td {
    border: 2px solid #333;
    margin-top: 5px;
    padding: 10px;
  }

  #game #keys td {
    display: inline-block;
  }

  #game #keys td.round {
    height: 50px;
    width: 50px;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
  }

  #game #mov-keys.screen-keys td.empty-cell {
    border: 0px;
  }

  #game #mov-keys {
    bottom: 0px;
    position: absolute;
  }

  #game #keys {
    bottom: 0px;
    right: 0px;
    position: absolute;
  }
}
